<p style="padding-top:3%; text-align:center"><%= t(:hello_html, email:@email) %></p>
<% if @go %>
    <p style="text-align:center"><%= t(:welcome_text_html)%></p><br>
    <p style="text-align:center"><%= link_to(t(:start_survey),start_survey_path)%></p>
<% end %>
